# Q. Find Compound Interest

In [ ]:
p = int(input("Give initial principal balance"))
r = int(input("Give interest rate"))
t = int(input("Give number of time periods elapsed"))
n = int(input("Give number of times interest applied per time period"))

amount = p * ((1+r/n))**(n*t)
print("Your Compound Interest value is", amount)

Give initial principal balance100
Give interest rate5
Give number of time periods elapsed2
Give number of times interest applied per time period2
Your Compound Interest value is 15006.25

# Q. Find Volume of a Cylinder

In [ ]:
r = float(input("Give Radius"))
h = float(input("Give Height"))
vol = 3.14 * (r)**2 * h
print('The Volume is', vol)

Give Radius7.5
Give Height3.7
The Volume is 653.5125

# Conditional Statements

In [ ]:
print("Harsh")

Harsh

### Find if the age is eligible for voting

In [ ]:
age = 17

if (age >= 18):
  if (age < 100):
    print("Eligible")
elif (age >= 0):
  if (age < 18):
    print("Minor")
else:
  print("Invalid")

Minor

# Q. Find if the number is even or odd

In [ ]:
a = int(input("Give Number"))
if (a % 2 == 0):
  print("even")
else:
  print("Odd")

Give Number12
even

# Q. Find if number is +ve. If yes then find if it is even or odd else tell -ve

In [ ]:
num = int(input("Please Give Number"))
if num > 0:
  print("The Number is +ve")
  if num %2 == 0:
    print("The number is even")
  else:
    print("The number is odd")
else:
  print("The Number is -ve")

Please Give Number-12
The Number is -ve

# Q. Determine a person's stage of life (child, teen, adult, senior) based on age.

In [ ]:
## child - 0 to 12
## teen - 13 to 17
## adult - 18 to 60
## senior - 60+

In [ ]:
age = int(input("Give Age"))
if (age > 60):
  print("Senior")
elif (age >= 18):
  print("Adult")
elif (age >= 13):
  print("Teen")
elif (age >= 0):
  print("child")

Give Age1
child

In [ ]:
age = int(input("Give Age"))
if (age > 0):
  print("Child")
elif (age >= 13):
  print("Teen")
elif (age >= 18):
  print("Adult")
elif (age >= 60):
  print("Senior")

Give Age60
Child

# Q. Create a simple Calculator

In [ ]:
num1 = int(input("Give num 1 "))
num2 = int(input("Give num 2 "))
oper = input("Pick one (+,-,*,/)")

if (oper == "+"):
  print(num1 + num2)
elif (oper == "-"):
  print(num1 - num2)
elif (oper == "*"):
  print(num1 * num2)
elif (oper == "/"):
  if (num2 == 0):
    print("Invalid Operation")
  else:
    print(num1 /num2)

Give num 1 12
Give num 2 0
Pick one (+,-,*,/)/
Invalid Operation

# Q. A simple user login system that checks the username and password.

In [ ]:
stored_user = "user@123"
stored_pass = 'abc123'

user_name = input("GIve Username")
passw = input("GIve pass")


if (user_name == stored_user):
  if (passw == stored_pass):
    print("Login Successful")
  else:
    print("Invalid Password")
else:
  print("Invalid Username")

GIve Usernameas
GIve passas
Invalid Username

# Q. Report Card Generator

In [ ]:
## 100 - 91 -> A
## 81 - 90 -> B
## 71 - 80 -> C
## 61 - 70 -> D
## 51 - 60 -> E
## Else Fail

marks = int(input("Give Your marks"))

if (marks >= 91):
  print("Your grade is A")
elif (marks >= 81):
  print("Your grade is B")
elif (marks >= 71):
  print("Your grade is C")
elif (marks >= 61):
  print("Your grade is D")
elif (marks >= 51):
  print("Your grade is E")
else:
  print("You Failed")

Give Your marks51
Your grade is E

# Q. Calculate an employee's bonus based on their performance rating and years of service.

In [ ]:
## Take salary
## Take years of Experince
## Take your rating

## rating > 4.5
  ## yrs > 10
    ## 20%
  ## yrs > 5
    ## 10%
## rating > 3.5
  ## yrs > 10
    ## 10%
  ## yrs > 5
    ## 5%
## else no bonus

In [ ]:
salary = int(input("Give Salary"))
yrs = int(input("Give Years of Experience"))
rating = float(input("Give Rating"))

if rating > 4.5:
  if yrs >= 10:
    bonus = 20
  elif yrs > 5:
    bonus = 10
elif rating > 3.5:
  if yrs >= 10:
    bonus = 10
  elif yrs > 5:
    bonus = 5
else:
  bonus = 0

final_salary = (salary + ((bonus/100)*salary))
print("HI your bonus % is",bonus, "Your FInal Salary is", final_salary)

Give Salary20000
Give Years of Experience11
Give Rating4.6
HI your bonus % is 20 Your FInal Salary is 24000.0

# Loops

In [ ]:
range(10)

range(0, 10)

In [ ]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [ ]:
for i in range(5,51,5):
  print(i)

5
10
15
20
25
30
35
40
45
50

In [ ]:
num = 5

for i in range(num,(num*10)+1,num):
  print(i)

5
10
15
20
25
30
35
40
45
50

In [ ]:
for i in range(50,1,-5):
  print(i)

In [ ]:
num = 2

for i in range(num*10,num-1,-num):
  print(i)

20
18
16
14
12
10
8
6
4
2

# Q. Find numbers between 1 to 100 and are divisible by both 3 and 5

In [ ]:
for i in range(1,101):
  if (i%3==0 and i%5 == 0):
    print(i)

15
30
45
60
75
90

# Q. Count the numbers between 1 to 100 and are divisible by both 3 and 5

In [ ]:
counter = 0

for i in range(1,101):
  if (i%3 == 0 and i%5 == 0):
    # print(i)
    counter = counter + 1

print("The counter value is",counter)

15
30
45
60
75
90
The counter value is 1

# Q. FInd the sum of first N natural numbers

In [ ]:
N = 20
counter = 0

for i in range(1,N+1):
  counter = counter + i

print(counter)

210

# Q. Find First 10 number between 1 and 10,000 those who are divisible by 3, 5 and 7

In [ ]:
counter = 0

for i in range(1,10000):
  if (i%3 == 0 and i%5 == 0 and i%7 == 0):
    counter += 1
    print(i)

  if (counter == 10):
    break

print(counter)

0

In [ ]:
for i in "Harsh":
  print(i)

H
a
r
s
h

In [ ]:
for i in "Harshvardhan Singh":
  print(i)

H
a
r
s
h
v
a
r
d
h
a
n

S
i
n
g
h

# Q. Print only the vowels from a given string using a for loop.

In [ ]:
s = input("Give Name")
v = 'aeiouAEIOU'
c = 0

for i in s:
  if i in v:
    c += 1

print(c)

Give NameHarshvardhan
3

# Pattern Printing

In [ ]:
num = 5

for i in range(1,num+1):
  print("* "*i)

*
* *
* * *
* * * *
* * * * *

In [ ]:
num = 5

for i in range(num,0,-1):
  print("* "*i)

* * * * *
* * * *
* * *
* *
*

In [ ]:
num = 5

for i in range(1,num+1):
  print("* "*i)

for i in range(num,0,-1):
  print("* "*i)

*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
num = 5

for i in range(1, num+1):
  print("* "*num)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

******
*    *
*    *
*    *
*    *
******

In [ ]:
num = 10

print("A "*num)

for i in range(num-2):
  print("| "+"  "*(num-2)+"|")

print("A "*num)

A A A A A A A A A A
|                 |
|                 |
|                 |
|                 |
|                 |
|                 |
|                 |
|                 |
A A A A A A A A A A

*
**
* *
*  *
*   *
******

In [ ]:
num = 10

print("*"*1)

for i in range(1, num - 2):
    print("*" + " " * i + "*")

print("*"*num)

*
* *
*  *
*   *
*    *
*     *
*      *
*       *
**********

### Prime Numbers

In [ ]:
n = 324235325
counter = 0

for i in range(1,n+1):
  if n%i == 0:
    counter += 1

if counter == 2:
  print("Prime")
else:
  print("Not Prime")

Not Prime